<div class="grid grid-cols-1 gap-5 mb-8 md:grid-cols-2 wrapper md:gap-14">
    <img src="{{asset '/images/henry-co-3coKbdfnAFg-unsplash 1.png'}}" alt="" />

    <div>
        <h1 class="text-3xl font-bold md:text-5xl font-condensed">Lorem ipsum dolor sit amet consectetur adipisicing elit.</h1>
        
        <p class="text-xl md:text-2xl">
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Qui obcaecati inventore ab
            exercitationem.
        </p>

        <div class="text-center">
            <button class="button w-[255px] mx-auto">Download now</button>
        </div>
    </div>
</div>