<div style="background-image: url({{ @site.cover_image }});"
    class="py-4 space-y-3 text-center text-white bg-bottom bg-no-repeat bg-cover">
    <div class="footer-navigation">
        {{navigation}}
    </div>
    <p>Copyright &copy; {{ date format="YYYY" }} {{ @site.title }}</p>
</div>