{{!< default}} 

<div class="mx-auto my-8 wrapper">
    <h1 class="text-3xl font-bold uppercase mt-11 mb-11 md:mb-35 font-condensed">My latest content</h1>
    
    <div class="grid grid-cols-1 gap-12 md:grid-cols-2">
        {{#foreach posts}}
            {{> "article-card"}}
        {{/foreach}}
    </div>

    <div class="mt-5 ">
        {{pagination}}
    </div>

</div>

{{> "testimonial"}}